<div class="main">
  <div class="logo-container">
    <img src="/logo.png" alt="Logo" class="logo" />
  </div>
  <div class="centre-align"><app-faucet-dialog /></div>
  <div class="footer" style="text-align: center">
    <div style="text-align: center">
      Join the tech telegram to request for more tokens -
      <a href="https://t.me/ltotech">Join</a>
    </div>
    This Tool is for development purpose on the LTO Testnet and does not
    distribute Mainnet LTO tokens.
  </div>
</div>

<router-outlet></router-outlet>
